streamlit==1.32.0
pandas==2.1.4
numpy==1.26.4
plotly==5.18.0
openpyxl==3.1.5
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
bcrypt
pyyaml
streamlit-authenticator==0.3.2
pyjwt>=2.13.0 # not directly required, pinned by Snyk to avoid a vulnerability